.herounit {
    padding-top: 2em;
    padding-bottom: 2em;
    color: #FFFFFF;
    background: #002B34;
    text-align: center;
    font-size: 140%;
}

.information {padding-top: 2em; margin: 0 auto; width: 70%;}
.info-content {margin: 1em; text-align: justify;}
.info-icon {font-size: 700%; margin-left: 30%; margin-right: 30%;}
